@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}

@media only screen and (min-width: 700px) {
  body {
    overflow-y: hidden;
  }
}


.neon-text {
  color: #22d3ee;
  text-shadow:
    0 0 2px #22d3ee,
    0 0 4px rgba(34, 211, 238, 0.6),
    0 0 8px rgba(34, 211, 238, 0.4),
    0 0 16px rgba(34, 211, 238, 0.2);
}

.neon-box {
  box-shadow: 0 0 5px rgba(34, 211, 238, 0.5),
              0 0 15px rgba(34, 211, 238, 0.5),
              0 0 25px rgba(34, 211, 238, 0.8);
}

.neon-button {
  background-color: #0f172a;
  color: #22d3ee;
  border: 1px solid rgba(34, 211, 238, 0.5);
  box-shadow:
    0 0 4px rgba(34, 211, 238, 0.4),
    0 0 8px rgba(34, 211, 238, 0.2);
  transition: all 0.3s ease;
}

.neon-button:hover {
  background-color: #22d3ee;
  color: #0f172a;
  box-shadow:
    0 0 8px rgba(34, 211, 238, 0.6),
    0 0 16px rgba(34, 211, 238, 0.4);
}


/* globals.css */
.text-shadow-neon {
  text-shadow:
    0 0 5px var(--theme-color),
    0 0 10px var(--theme-color),
    0 0 20px var(--theme-color),
    0 0 40px var(--theme-color);
}

.shadow-neon {
  box-shadow:
    0 0 2px rgba(34, 211, 238, 0.4),
    0 0 6px rgba(34, 211, 238, 0.3),
    0 0 12px rgba(34, 211, 238, 0.2),
    0 0 24px rgba(34, 211, 238, 0.1);
}
